<a [routerLink]="['']" style="text-decoration: none; color: black;">
    <poke-header></poke-header>
</a>

<main>
    <ng-template [ngIf]="isLoading"> 
        <section class="pokemon__names">
            <h1 class="slideInRight">{{ pokemon[0].name }} </h1>
            <h2 class="slideInLeft">{{ pokemon[1].names[0].name }}</h2>
        </section>
        <section class="pokemon__status">
            <img class="slideInDown"
            [src]="pokemon[0].sprites.other.dream_world.front_default" 
            [alt]="pokemon[0].name"
            >

        <article class="pokemon__status__statistics fadeIn">
            <section>
                <h3>Estatísticas</h3> <br>

                <ol>
                    <li *ngFor="let value of pokemon[0].stats">
                        {{ value.stat.name }}
                        
                        <strong>
                            {{ value.base_stat }}
                        </strong>
                    </li>
                </ol>
            </section>

            <a [routerLink]="['']" class="btn btn__segundo">
                Voltar
            </a>
        </article>  
        </section>
    </ng-template> 
    <img 
    *ngIf="carregarError"
    src="../../../assets/error.png" 
    alt="Erro ao carregar as informações"
    width="100%"
   > 
</main>