@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-primaria);
}

main{
    max-width: rem-calc(600);
    margin: o auto;
    box-sizing: border-box;
}